.outlined {
    border: 1px solid #ddd;
}
.h-65 {
    height: 65vh;
    position: relative;
}
.footer-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.border-bottom {
    border-bottom: 1px solid #ddd;
}
.show-on-hover {
    .v-list-item__icon {
        display: none;
    }
    &:hover {
        .v-list-item__icon {
            display: block;
        }
        .colored {
            color: red;
        }
    }
}

// Scroll Bar Style
.scrolling {
    max-height: 40vh;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px !important;
    border-radius: 10px !important;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px !important;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// Map Style
#map {
    height: 58vh;
    width: 100%;
}
.gm-style-iw-d {
    padding-bottom: 10px;
}
