<template>
  <main>
    <v-container>
      <v-row>
        <!-- User Select Box -->
        <v-col sm="6" class="mx-auto"
          ><v-autocomplete
            class="mt-8"
            v-model="user"
            :items="users"
            return-object
            item-text="name"
            small-chips
            @change="handleLoader(user)"
            outlined
            label="Select User"
          ></v-autocomplete
        ></v-col>
      </v-row>
      <!-- After Selecting User -->
      <v-row v-if="user">
        <v-col sm="3">
          <!-- User Buildings Section -->
          <section class="outlined h-65 rounded-xl">
            <h3 class="py-3 px-4 border-bottom">Buildings</h3>
            <template v-if="buildings_loader">
              <v-list class="scrolling">
                <v-list-item
                  dense
                  class="px-2 show-on-hover"
                  v-for="(item, i) in user.buildings"
                  :key="i"
                >
                  <v-list-item-content>
                    <v-list-item-title>
                      <v-btn
                        class="text-capitalize colored"
                        text
                        :title="item.name"
                        @click="showMap(item)"
                        >{{ item.name }}</v-btn
                      >
                    </v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-icon>
                    <v-btn icon @click="editBuilding(item)"
                      ><v-icon color="#000"
                        >mdi-pencil-box-multiple-outline</v-icon
                      ></v-btn
                    >
                    <v-btn v-if="i != 0" icon @click="deleteBuilding(item)"
                      ><v-icon color="#000">mdi-delete</v-icon></v-btn
                    >
                  </v-list-item-icon>
                </v-list-item>
              </v-list>
            </template>
            <template v-else>
              <LazyLoader />
            </template>
            <v-btn
              @click="addBuilding"
              class="footer-btn text-capitalize w-100"
              outlined
              >Add Building
            </v-btn>
          </section>
        </v-col>
        <v-col sm="9">
          <section class="outlined h-65 rounded-xl">
            <!-- Add - Edit Building Form -->
            <h3 v-if="is_adding || is_editing" class="py-3 px-4 border-bottom">
              <span v-if="is_editing">Edit</span>
              <span v-else>Add</span> Building
            </h3>
            <v-form
              class="pa-5"
              v-if="is_adding || is_editing"
              @submit.prevent="handleLocation"
            >
              <v-row>
                <v-col sm="4">
                  <p class="mt-2">Name</p>
                </v-col>
                <v-col sm="8">
                  <v-text-field
                    v-model="form.name"
                    outlined
                    dense
                    label="Building Name"
                  ></v-text-field>
                </v-col>
                <v-col sm="4">
                  <p class="mt-2">Location</p>
                </v-col>
                <v-col sm="8">
                  <v-autocomplete
                    v-model="form.country"
                    :items="countries"
                    item-text="name"
                    small-chips
                    return-object
                    outlined
                    dense
                    label="Select Country"
                  ></v-autocomplete>
                </v-col>
                <v-col sm="12" class="text-right">
                  <section class="footer-btn">
                    <v-btn
                      @click="cancelForm"
                      class="text-capitalize mx-2"
                      outlined
                      >Cancel
                    </v-btn>
                    <v-btn
                      class="text-capitalize"
                      outlined
                      type="submit"
                      color="primary"
                      :disabled="!form.name || !form.country"
                      ><span v-if="is_editing">Edit</span>
                      <span v-else>Create</span></v-btn
                    >
                  </section>
                </v-col>
              </v-row>
            </v-form>
            <template v-else>
              <!-- Map Preview Area -->
              <section v-if="map_view">
                <template v-if="loading_map">
                  <LazyLoader />
                </template>
                <template v-else>
                  <section>
                    <h3 class="py-3 px-4 border-bottom">
                      {{
                        "Selected Building ( " + map_view.name + " ) Map View"
                      }}
                    </h3>
                    <GMaps
                      :location="map_view.country"
                      :building="map_view.name"
                    />
                  </section>
                </template>
              </section>
            </template>
          </section>
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
import json from "../../countriesList.json";
export default {
  name: "HomeView",
  components: {
    GMaps: () => import("@/components/GMaps.vue"),
    LazyLoader: () => import("@/components/LazyLoader.vue"),
  },
  data() {
    return {
      users: [
        {
          id: 1,
          name: "Ahmed",
          buildings: [
            {
              id: 100,
              name: "Building 1",
              country: {
                id: "AFG",
                name: "Afghanistan",
                position: [34.79120620588236, 67.78638470588234],
              },
            },
          ],
        },
        {
          id: 2,
          name: "Ali",
          buildings: [
            {
              id: 101,
              name: "Building x",
              country: {
                id: "AGO",
                name: "Angola",
                position: [-10.361866945205483, 16.907859164383563],
              },
            },
          ],
        },
      ],
      user: null,
      countries: json,
      form: {},
      map_view: this.user ? this.user.buildings[0] : {},
      // Loading Booleans
      is_adding: false,
      is_editing: false,
      buildings_loader: false,
      loading_deletion: false,
      loading_map: true,
    };
  },
  methods: {
    handleLocation() {
      this.loading_map = true;
      if (this.is_adding) {
        this.user.buildings.push(this.form);
        localStorage.setItem("buildings", JSON.stringify(this.user.buildings));
        this.is_adding = false;
      } else {
        this.is_editing = false;
      }
      this.map_view = this.form;
      setTimeout(() => {
        this.loading_map = false;
      }, 1000);
      this.form = {};
    },
    handleLoader(user) {
      console.log(user);
      localStorage.setItem("buildings", JSON.stringify(user.buildings));
      this.loading_map = true;
      setTimeout(() => {
        this.buildings_loader = true;
        this.map_view = this.user.buildings[0];
        this.loading_map = false;
      }, 1000);
    },
    // !Delete Building from list
    deleteBuilding(item) {
      this.loading_map = true;
      const val = this.user.buildings;
      setTimeout(() => {
        val.splice(val.indexOf(item), 1);
        if (this.map_view == item && this.user.buildings.length > 0) {
          this.map_view = this.user.buildings[0];
        } else {
          this.map_view = {};
        }
        this.loading_map = false;
      }, 300);
    },
    // Add Building to user's buildings
    addBuilding() {
      this.is_adding = true;
    },
    // Edit user's building
    editBuilding(item) {
      this.form = item;
      this.is_editing = true;
    },
    // Show Map Area
    showMap(item) {
      this.loading_map = true;
      setTimeout(() => {
        this.map_view = item;
        this.loading_map = false;
      }, 1000);
    },
    cancelForm() {
      this.is_adding = false;
      this.is_editing = false;
    },
  },
};
</script>
