<template>
  <div id="map"></div>
</template>

<script>
import { Loader } from "google-maps";

export default {
  props: {
    location: {
      type: Object,
      default: () => {},
    },
    building: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      marker: {
        position: { lat: null, lng: null },
      },
    };
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      setTimeout(() => {
        this.$nextTick(async () => {
          const options = {
            /* todo */
          };
          const loader = new Loader("", options);

          const google = await loader.load();
          const infowindow = new google.maps.InfoWindow({
            content: `${this.building} Located in ${this.location.name}`,
          });
          const map = new google.maps.Map(document.getElementById("map"), {
            center: {
              lat: this.marker.position.lat,
              lng: this.marker.position.lng,
            },
            zoom: 5,
          });
          // The marker

          const marker = new google.maps.Marker({
            position: {
              lat: this.marker.position.lat,
              lng: this.marker.position.lng,
            },
            map: map,
            title: `${this.building} Located in ${this.location.name}`,
            // label: {
            //   text: `${this.building} Located in ${this.location.name}`,
            //   color: "#fff",
            //   fontSize: "16px",
            //   fontWeight: "normal",
            //   className: "marker-label",
            // },
          });
          marker.addListener("click", () => {
            infowindow.open({
              anchor: marker,
              map: map,
              shouldFocus: false,
            });
          });
        });
      }, 1000);
    },
  },
  watch: {
    location: {
      handler(val) {
        if (val) {
          this.marker.position.lat = val.position[0];
          this.marker.position.lng = val.position[1];
        }
      },
      immediate: true,
    },
  },
};
</script>
