<template>
  <v-app>
    <v-app-bar app color="#422e87" dark>
      <v-spacer></v-spacer>

      <v-btn href="https://squadio.com/" target="_blank" text>
        <span class="mr-2 text-capitalize">Squadio</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
};
</script>
